
body{
    margin: 0;
    padding: 0;
    background-image: url("/img/img_fundo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /*Garante que a imagem não seja quebrada pela section*/
    background-position: center;
    max-width: 100%;
    background-attachment: scroll; /*Imagem acompanha de acordo com a barra de navegação*/
    min-height: 100vh;
    position:relative;/*Necessário para o fundo transparente*/
    
}
body::before {/*Camada sobreposta da imagem*/
 content:"";/*Necessário para os codigos seguintes funcionarem*/
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.178);
 z-index: -1; /* deixa atrás do conteúdo o fundo */
}
.cabecalho{
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: brown;
    border-top: none;
}
.primeirasecao{
    color: red;
    text-align: center;
    width: 60%; /* Largura de 80% do contêiner pai */
    height: 150px; /*Aqui define  o tamnaho do container*/
    background-color: rgba(0, 0, 0, 0.178); 
    padding: 20px; /*Define o comprimeiro dele ao decorrer do site*/  
    margin: 20px auto; /*Centraliza o container no site*/
    border: 2px solid #b58b8f; 
    box-shadow: 0 4px 8px #b58b8f; 
    border-radius: 8px;  
    display: flex;
    justify-content: center;   
    transition: transform 0.3s; /* Transição suave ao passar o mouse */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-wrap: wrap;
}
.primeirasecao:hover{ /*Necessário para o destaque do cartão*/
    transform: translateY(-5px); /* Eleva o cartão ao passar o mouse */
}
.texto1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;
    text-align: center;
}
@media screen and (max-width: 1708px){
    .primeirasecao{
        height: auto;
        width: 85vw;
    }
    .texto1{
        font-size: 15px;
    }
    .cabecalho{
        font-size: 25px;
    }
    

    
}


